.shopping-cart-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding-inline: 20%;

    li {
        list-style: none;
    }

    &-item {
        display: flex;
        flex-direction: row;
        align-items: center;    
        justify-content: center;
        border: 1px solid rgba(128, 128, 128, 0.438);
        border-radius: 5px;
        height: 100px;

        p {
            margin-left: 50px;
        }

        span {
            margin-left: 150px;
            font-weight: 200;
            font-size: 14px;
        }
    
        input {
            width: 45px;
            height: 25px;
            padding-left: 14px;
            margin-left: 10px;
            text-align: center;
            border: 0;
            background-color: #7e7e7e7d;
            border-radius: 4px;
            font-weight: 200;
        }

        button {
            border: none;
            background-color: #fff;
            cursor: pointer;
            width: 20px;
            margin: 0 50px 0 50px;

            img {
                width: 20px;
            }
        }

        &-img {
            margin-left: 20px;
            width: 100px;
            height: 70px;
            border-radius: 5px;
        }
    }
}