.electronics-container {
    margin: 80px 0 80px 200px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 50px;

    .electronics-item {
        width: 300px;
        height: 370px;
        text-align: center;
        cursor: pointer;
        transition: box-shadow .3s ease;
        border-radius: 15px;

        &-image {
            width: 80%;
            height: 60%;
            margin-top: 20px;
        }

        &-title {
            margin: 10px 20px 10px 10px;
            font-weight: 200;
            color: #3e3d3d;
        }
        &-price {
            font-size: 20px;
        }
    }
    .electronics-item:hover {
        box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.346);
    }
}