.list-container {
    margin: 90px 0 0 200px;
    display: grid;
    grid-template-columns: repeat(3, 30%);  
    grid-gap: 50px;
    
    .link {
        cursor: auto;
    }

    .list-item {
        width: 350px;
        height: 380px;
        text-align: center;
        transition: box-shadow .3s ease;
        border-radius: 15px;
        cursor: auto;

        &-image {
            width: 65%;
            height: 58%;
            margin-top: 20px;
            cursor: pointer;
        }

        &-container {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 120px;
        }

        &-title {
            margin: 10px 20px 10px 10px;
            font-weight: 200;
            color: #3e3d3d;
            cursor: pointer;
            transition: color .4s ease;
        }

        &-title:hover {
            color: #6dc972;
        }

        &-price {
            font-size: 20px;
            cursor: pointer;
        }
    }
    .list-item:hover {
        box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.346);
    }
}