.navbar {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.233);

    &__list {
        height: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__container {
            width: 60%;
            display: flex;
            justify-content: space-between;
        }
        
        &__item {    
            cursor: pointer;
            font-size: 14px;
            font-weight: 200;
            transition: all .4s ease;
            text-transform: uppercase;
            margin-left: 50px;
        }

        &__item:hover {
            transform: translateY(-15%);
            color: #504e4e;
        }

        .icon {
            width: 33px;
            cursor: pointer;
            transition: transform .4s ease;
            margin: 0 50px 0 30px;
        }

        .search {
            @extend .icon;
            margin: 0;
        }
    
        .icon:hover {
            transform: translateY(-5%);
        }
        
        .icon:first-child{
            margin-left: 50px;
        }
    }
}